@import
url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900");

body{
    margin: 0;
    font-family: "Montserrat";
    text-align: center;
}

a {
    text-decoration: none;
    color: #325288;
}

/* Nav Bar */

header {
    right: 0;
    position: absolute;
    margin-top: 10px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 15px;
}

nav a {
    font-weight: 900;
    color: #f4eee8;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
}

nav a:hover,
nav a:focus {
    color: #DDD;
}

/* Landing */

.landing {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(img/peacock.jpg);
    background-size: cover;
    background-position: center;
    /* padding: 10px; */
    color: #f5cebe;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.title {
    font-weight: 700;
    /* font-size: 6rem; */
    margin-bottom: 1em;
    margin-top: 1em;
}
.title span {
    font-weight: 300;
    display:block;
    /* font-size: 50%; */
    padding: 0 70px;
}

.button {
    /* display: inline-block; */
    font-size: 1.15rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    border-width: 4px;
    padding: .5em 1.75em;
    border-style: solid;
}

.button-accent {
    color: #f4eee8;
}

.button-accent:hover,
.button-accent:focus{
    background: #f4eee8;
    color: #325288;
    border-color: #f4eee8;
}

/* About

.about-container {
    max-height: 90em;
    margin: 0;
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(img/platter.jpg);
    background-size: cover;
    background-position: center;
}


.home-about-textbox {
    background-color: #f5cebe;
    width: 50%;
    height: 500px;
    outline: 2px solid #325288;
    outline-offset: -50px;
    color: #325288; 
    position: relative;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.home-about-textbox h1 {
    color: #325288;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 25px;
    background: #f5cebe;
}

.home-about-textbox p {
    margin: auto;
    padding: 0 70px;
    line-height: 1.5;
} */

/*About Me
=================*/
.container {
    width: 100%;
    max-width: 90em;
    margin: 0;
    padding: 0;
}

.home-about-textbox {
    background-color: #f5cebe;
    padding: 5em;
    width: 100vw;
    margin-left: -2.5%;
    outline: 2px solid #325288;
    outline-offset: -3em;
    color: #325288; 
    position: relative;
}

.home-about-textbox h1 {
    color: #325288;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 1.5rem;
    background: #f5cebe;
}

@media (min-width: 10rem) {

    .title {
        font-size: 4rem;
    }

    .title span {
        font-size: 1.5rem;
    }

    .home-about-textbox h1 {
        padding: 0 .2em;
    }
}

@media (min-width: 50rem) {
    .title {
        font-size: 6rem;
    }

    .title span {
        font-size: 2rem;
    }

    .home-about {
        background-image: url(../img/platter.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        /*background-color: #fc9d9d;*/
        padding: 4.5em;
    }
    .home-about-textbox {
        width: 60%;
        margin-left:-2.5%;
        top: -8em;
        box-shadow: 0 0 4em 0 rgba(0, 0, 0, .35);
    }
}


/* Extra */

/* Carousel */

.cardiv {
    width: 100vw;
    /* height: 50vh; */
}

.carousel {
    height: 100%;
    background-color: #f4eee8;
    width: 100%;
    /* height: 50vh; */
}

/* .carousel-inner > img {
    margin: auto;
  } */

/* Footer */
.footer {
    width: 100%;
    height: 250px;
    background-color: #114e60;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.footer-section {
    width: 100%;
    height: 200px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.footer-title {
    font-size: 25px;
    font-weight: 600;
    color: #f5cebe;
    margin: auto;
}

.footer-links {
    color: #f5cebe;
    font-weight: 400;
    text-align: center;
    line-height: 1.5;
    text-decoration: none;
    margin-right: 20px;
}

.footer-text {
    color: #f5cebe;
    font-weight: 400;
    text-align: center;
    line-height: 1.5;
    text-decoration: none;
}



